*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #2B2733;
  font-family: 'Montserrat';
  color: #CBC9CF;
}

body {
  margin: 0;
}

header {
  background-color: #46424D;
  color: #CBC9CF;
  text-align: center;
  font-size: 12px;
  padding: 10px;
}

header h1 {
  text-transform: uppercase;
}

main {
  display: flex;
}

/* section {
  
} */

.btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.cat-button {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  border: 2px #FFF solid;
  height: 50px;
  width: 100px;
}

.study-off {
  width: 100px;
  background-image: url('./assets/study.svg');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: top;
  text-align: center;
  padding-top: 20px;
}

.study-on {
  width: 100px;
  color: #B3FD78;
  border: 2px #B3FD78 solid;
  background-image: url('./assets/study-active.svg');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: top;
  text-align: center;
  padding-top: 20px;
}

.meditate-off {
  width: 100px;
  background-image: url('./assets/meditate.svg');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: top;
  text-align: center;
  padding-top: 20px;
}

.meditate-on {
  width: 100px;
  color: #C278FD;
  border: 2px #C278FD solid;
  background-image: url('./assets/meditate-active.svg');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: top;
  text-align: center;
  padding-top: 20px;
}

.exercise-off {
  width: 100px;
  background-image: url('./assets/exercise.svg');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: top;
  text-align: center;
  padding-top: 20px;
}

.exercise-on {
  width: 100px;
  color: #FD8078;
  border: 2px #FD8078 solid;
  background-image: url('./assets/exercise-active.svg');
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: top;
  text-align: center;
  padding-top: 20px;
}

.hidden {
  display: none;
}

.reveal {
  display: inline;
}

#warning {
  width: 15px;
}

.cat-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cat-select input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cat-butt {
  background-size: contain;
  background-repeat: no-repeat;
  border: 2px #FFF solid;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  padding-top: 25px;
  text-align: center;
  width: 100px;
}

.form-time {
  width: 95%;
  height: 80%;
  background-color: #46424D;
  color: #FFF;
  padding: 50px 80px;
  margin: auto;
}

#new-activity,
#timer-box {
  width:70%;
}

#description label {
  display: block;
}

#description input,
#time-value input {
  border: none;
  border-bottom: 2px #FFF solid;
  background: #46424D;
}

#time-value {
  columns: 2;
}

#time-min label {
  display: block;
}

#time-sec label {
  display: block;
}

#description input {
  width: 100%;
}

#prev-activity {
  width: 30%;
}

section {
  border: 2px orange solid;
  height: 100vh;
  padding-top: 20px;
  margin: 1px;
}

section h3 {
  padding: 14px;
}

div {
  border: 2px green dashed;
}