/* ********** GLOBAL ********** */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #46424d;
  color: #CBC9CF;
  font-family: 'Montserrat';
}

.hidden {
  display: none;
}

.reveal {
  display: inline;
}

.warning {
  width: 15px;
  color: #EFB7EC; 
}

/* ********** BODY ********** */

body {
  margin: 0;
}

/* ********** HEADER ********** */

header {
  background-color: #46424D;
  color: #CBC9CF;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}

header h1 {
  text-transform: uppercase;
}

/* ********** MAIN ********** */

main {
  display: flex;
}

section {
  height: 100vh;
  margin: 1px;
  padding-top: 20px;
}

section h3 {
  font-size: 26px;
  padding: 14px;
}

/* ********** NEW-ACTIVITY FORM ********** */

#new-activity {
  background-color: #2b2733;
  width: 70%;
}

.form-time {
  background-color: #46424D;
  box-shadow: 10px 10px 5px #26222d;
  color: #FFF;
  display: flex;
  flex-flow: column wrap;
  font-size: 18px;
  height: 80%;
  justify-content: space-between;
  margin: auto;
  padding: 60px 120px;
  width: 90%;
}

.btn-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.btn-wrapper label {
  margin: 10px 0px;
  width: 100%;
}

.cat-button {
  border-radius: 5px;
  border: 2px #FFF solid;
  display: flex;
  flex-flow: column wrap;
  height: 65px;
  justify-content: center;
  width: 155px;
}

.study-off {
  background-image: url('./assets/study.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 25px;
  padding-top: 20px;
  text-align: center;
}

.study-on {
  background-image: url('./assets/study-active.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 25px;
  border: 2px #B3FD78 solid;
  color: #B3FD78;
  padding-top: 20px;
  text-align: center;
}

.meditate-off {
  background-image: url('./assets/meditate.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 25px;
  padding-top: 20px;
  text-align: center;
}

.meditate-on {
  background-image: url('./assets/meditate-active.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 25px;
  border: 2px #C278FD solid;
  color: #C278FD;
  padding-top: 20px;
  text-align: center;
}

.exercise-off {
  background-image: url('./assets/exercise.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 25px;
  padding-top: 20px;
  text-align: center;
}

.exercise-on {
  background-image: url('./assets/exercise-active.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 25px;
  border: 2px #FD8078 solid;
  color: #FD8078;
  padding-top: 20px;
  text-align: center;
}

#time-value {
  columns: 2;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#desc-field,
#time-value input {
  background: #46424D;
  border: none;
  border-bottom: 2px #FFF solid;
  color: #FFF;
  display: flex;
  font-family: 'Montserrat';
  font-size: 18px;
  height: 40px;
  justify-content: space-between;
}

#time-value input {
  width: 250px;
}

#desc-field {
  width: 100%;
}

#start-activity {
  align-self: flex-end;
  border-radius: 5px;
  color: #2b2733;
  font-family: 'Montserrat';
  font-size: 20px;
  height: 40px;
  width: 200px;
}

/* ********** TIMER BOX ********** */

#start-button {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding: 100px;
  width: 30%;
}

.start-btn-study {
  border: 4px #b3fd78 solid;
}

.start-btn-meditate {
  border: 4px #c278fd solid;
}

.start-btn-exercise {
  border: 4px #fd8078 solid;
}

#timer-box {
  background-color: #2b2733;
  width: 60%;
}

#timer-info {
  align-items: center;
  background-color: #46424D;
  box-shadow: 10px 10px 5px #26222d;
  display: flex;
  flex-flow: column nowrap;
  font-size: 22px;
  height: 80%;
  justify-content: center;
  margin: auto;
  width: 90%;
}

#timer-display {
  font-size: 80px;
  font-weight: 800;
}


/* ********** PREV-ACTIVITY ********** */

#prev-activity {
  background-color: #2b2733;
  margin-left: 2px;
  width: 40%;
}

#prev-activity-text {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 20px;
}

#prev-activity-text p {
  margin: 5px;
}
